.meta{
  overflow: hidden;
}

.quote{
  .meta{
    padding-bottom: 1rem;
  }
}

.like_button, .post-date, .reblog_button{
  display: inline-block !important;
  margin-right: 1rem;
  line-height: 1;
  vertical-align: middle;

}

.post-date{
  display: inline-block;
  margin-right: 1rem;
  color: $gray;
}

.tags{
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;

  li{
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: 4px;
    background-color: lighten($gray, 15%);

    a{
      display: block;
      color: darken($gray, 30%);
      font-size: .6875rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
    }
  }
}
