.post{
  clear: both;
  margin: 0 0 3rem;
  border-top: 2px solid $brand;

  .container{
    overflow: hidden;
  }

  h1{
    width: 80%;
    margin: .1875rem 0 2rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    color: $brand;

    a{
      color: inherit;
      text-decoration: none;
    }
  }

  a{
    color: $brand;
  }

  figure{
    text-align: center;

    img{
      max-width: 100%;
      height: auto;
    }
  }

  .caption, figcaption{
    margin-top: .5rem;
    text-align: left;
  }
}

.text{

  .body-text{

    figure{
      margin: 1rem 0;
      line-height: 1;
      text-align: center;
    }

    p img{
      display: block;
      margin: .5rem auto;
    }
  }
}

.photo{

  figure{
    margin: .1875rem 0 0;
  }

  .photoset{
    img{
      margin-bottom: .5rem;
    }
  }
}

.quote{
  background: $brand;

  blockquote{
    margin: 0;
    padding: 2.5rem 0 2rem 0;
    line-height: 1.3;
    font-weight: 300;
    color: $white;
    overflow: hidden;

    div{
      margin: .5rem 0;

      &.long{
        font-size: 1.5rem;
      }

      &.medium{
        font-size: 2rem;
      }

      &.short{
        font-size: 2.5rem;
      }

    }

    cite{
      float: right;
    }
  }

  & + .quote{
    background: $white;

    blockquote{
      color: $brand;
    }
  }

}

.audio{

  .audio-player{
    max-width: 100%;
    height: auto;

    iframe{
      width: 100%;
      height: auto;
    }
  }
}

.video{
  figure{
    margin: 0;
  }

  .video-player{
    position: relative;
    padding-top: 1.5625rem;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 1rem;
    overflow: hidden;

    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}
