.post-footer{
  overflow: hidden;
}

.quote{
  .post-footer{
    padding-bottom: 1rem;
  }
}

.tags{
  float: left;
  width: 90%;
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    display: inline-block;
    margin-right: .5rem;

    a{
      display: block;
      color: darken($gray, 20%);
      font-size: .6875rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
    }
  }
}

.like_button{
  float: left;
  width: 10%;
}
